body {
    background-color: rgb(69, 126, 233);
    font-family: 'Inter';
    margin: 0 auto;
}

.logo {
    width: 32px;
    height: 32px;
}

.icone_usuario {
    width: 32px;
    height: 32px;
}

.icone_usuario:hover {
    cursor: pointer;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 10px;
    background-color: black;
}

.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 5px;
    color: white;
}

.area_usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

#texto_autenticador {
    color: white;
    margin-right: 10px;
}

.header {
    gap: 10px;
}

#texto_autenticador,
.icone_usuario {
    display: inline-flex;
    align-items: center;
}

menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: silver;
}

.container_menu {
    border: 2px solid black;
    border-top: 1px solid black;
    border-radius: 2cm;
    background-color: slategray;
    width: 1000px;
}

logo {
    width: 100px;
    height: 100px;
}

.menu_item {
    border: 2px solid black;
    border-radius: 2cm;
    background-color: grey;
    padding: 5px;
    font-family: sans-serif;
}

.container_menu tr :hover {
    background-color: rgb(161, 112, 21);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#imagem_principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.container {
    position: relative;
    width: 1700px;
    height: 100vh;
}

.container #imagem_principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .texto {
    position: absolute;
    padding-left: 20px;
    top: 7, 5%;
    left: 0%;
    color: rgb(206, 157, 21);
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.footer tr :hover {
    color: rgb(161, 112, 21);
    cursor: pointer;
}

.container_login {
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    margin: 50px auto;
    border-radius: 5px;
}

.container_dados {
    width: 300px;
    height: 200px;
    padding: 10px;
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    text-align: left;
}

input {
    margin-bottom: 5px;
}

.container_dados .autenticar_btn {
    margin-top: 20px;
}

.user_info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    padding: 5px;
    padding-top: 10px;
}

.user_info_dados div {
    padding: 5px;
    padding-bottom: 5px;
}

.btn_dados {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn_dados button {
    text-align: center;
    width: 80px;
    height: 30px;
    margin: 5px;
}

.btn_alterar_estilo {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}